<svg [attr.width]="grid_width" [attr.height]="grid_height" (mousemove)="setTargetCell($event)" xmlns="http://www.w3.org/2000/svg">
  <!-- Horizontal Lines -->
  <g *ngFor="let row of rows; index as i">
    <line [attr.x1]="distorted[row[0]][0]" [attr.x2]="distorted[row[1]][0]"
          [attr.y1]="distorted[row[0]][1]" [attr.y2]="distorted[row[1]][1]"
          fill="none" stroke="gray" stroke-width="1"
    />
  </g>
  <!-- Vertical Lines -->
  <g *ngFor="let column of columns; index as i">
    <line [attr.x1]="distorted[column[0]][0]" [attr.x2]="distorted[column[1]][0]"
          [attr.y1]="distorted[column[0]][1]" [attr.y2]="distorted[column[1]][1]"
          fill="none" stroke="gray" stroke-width="1"
    />
  </g>
  <g *ngIf="showNumberPopup()">
    <!-- Centre number -->
    <text [attr.x]="grid_padding + cell_width * (focused_column + 0.5)" [attr.y]="10 + grid_padding + cell_height * (focused_row + 0.5)"
          text-anchor="middle" font-family="Verdana" font-size="24" fill="blue">{{getTargetCellData()}}
    </text>
    <!-- Upper number -->
    <g *ngIf="focused_row > 0">
      <text [attr.x]="grid_padding + cell_width * (focused_column + 0.5)" [attr.y]="grid_padding + cell_height * (focused_row - 0.5)"
            text-anchor="middle" font-family="Verdana" font-size="12" fill="gray">{{getOffCellData("up")}}
      </text>
    </g>
    <!-- Lower number -->
    <g *ngIf="focused_row < row_count - 1">
      <text [attr.x]="grid_padding + cell_width * (focused_column + 0.5)" [attr.y]="10 + grid_padding + cell_height * (focused_row + 1.5)"
            text-anchor="middle" font-family="Verdana" font-size="12" fill="gray">{{getOffCellData("down")}}
      </text>
    </g>
    <!-- Left number -->
    <g *ngIf="focused_column > 0">
      <text [attr.x]="grid_padding - 5 + cell_width * (focused_column - 0.5)" [attr.y]="5 + grid_padding + cell_height * (focused_row + 0.5)"
            text-anchor="middle" font-family="Verdana" font-size="12" fill="gray">{{getOffCellData("left")}}
      </text>
    </g>
    <!-- Right number -->
    <g *ngIf="focused_column < column_count - 1">
      <text [attr.x]="grid_padding + 5 + cell_width * (focused_column + 1.5)" [attr.y]="5 + grid_padding + cell_height * (focused_row + 0.5)"
            text-anchor="middle" font-family="Verdana" font-size="12" fill="gray">{{getOffCellData("right")}}
      </text>
    </g>
    <!-- Blue circle outline -->
    <!-- <circle [attr.cx]="grid_padding + cell_width * (focused_column + 0.5)"
    [attr.cy]="grid_padding + cell_height * (focused_row + 0.5)"
    [attr.r]="cell_width * 1.5  * 1.054" fill="none" stroke="blue" stroke-width="1"
    /> -->
  </g>
</svg>
