<h2>Master Thesis : Applying Focus+Context Techniques to BigData Visualization </h2><br>
<h4>Abstract</h4>
<p class="text-justify">A continuous increment of digital data in every industrial area, demands sharp, informative and
  interactive
  visualization of that data for the purpose of review and maintainability. Big data visualization has been concerned
  for decades. There are various types of visualization exists. Among all methods, tabular visualization of
  information is still the most traditional, efficient and widely used technique to expose exact information to
  end user. As name defines, this thesis will present how focus+context techniques can be applied to big data,
  especially big data tables and will demonstrate various variants as proof of concept.</p>
<p class="text-justify">One of the best implementation of Focus + Context Technique for tabular information is
  Table Lens. It is a framework that enables users to visualize large tabular information
  in focused view with preserving the global contextual structure. Despite that, I postulate
  that this framework is limited to some extent and there are still new prospects exists in the
  area of big data visualization. As for proof of concept, I have reviewed this framework
  thoroughly and derived some limitations here. Apart from that, I have implemented various
  variants to visualize big data by consuming focus + context technique. Finally, I have
  included evaluation study of these variants to find the feasibility of it. At last, I
  have also added focus to the possible future work of this idea and how this proof of
  concepts can be enhanced as product and cater end user with satisfactory information
  visualization.</p>
